body {
  font-family: "Roboto Slab", serif;
  background-color: #313131;
}

.name {
  align-content: center;
  text-align: center;
  padding: 5px;
  font-family: "Indie Flower", cursive;
  font-size: 2em;
  color: #ed5107;
}

@media only screen and (min-width: 600px) {
  .menu {
    display: none;
  }
}

ul {
  list-style-type: none;
  margin: 1em;
  padding: 1em;
}

li {
  float: right;
}

a {
  text-decoration: none;
}

li a {
  color: #ddf796;
  padding: 0.7em;
  margin: 1em;
  border-radius: 5px;
}

a.active {
  background-color: #616161;
}

li a:hover {
  background-color: #979797;
  color: #f3fe7e;
  border-radius: 5px;
}

.box {
  background-color: #bdbdbd;
  width: auto;
  height: auto;
  max-width: 70%;
  max-height: 80%;
  padding: 1em;
  align-content: center;
  margin: 15em auto;
  overflow: auto;
}

.image {
  width: 150px;
  height: 150px;
  align-content: center;
  margin: 2em auto;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #313131;
}

.description p {
  align-content: center;
  text-align: center;
  padding: 5px;
  color: #f0f0f0;
}

.contact,
a {
  align-content: center;
  text-align: center;
  padding: 1em;
}

.fab {
  font-size: 48px;
  color: #f0f0f0;
}

.small {
  font-size: 14px;
}

p.small {
  margin: 0px;
  padding-top: 5px;
}

@media only screen and (max-width: 600px) {
  ul {
    display: none;
  }
  .menu p {
    font-size: 16px;
    text-align: center;
    margin-top: 5em;
    margin-bottom: 10px;
    color: #f0f0f0;
  }

  span a,
  p a {
    color: #ddf796;
  }

  p.center {
    margin: 10px;
  }
}
