body {
  font-family: "Roboto Slab", serif;
  background-color: #313131;
}

.container {
  width: auto;
  margin: 0 auto;
}

.logo {
  float: left;
  margin: 15px;
  padding: 5px;
  font-family: 'Indie Flower', cursive;
  font-size: 2em;
  color: #ed5107;
}

ul {
  list-style-type: none;
  margin: 1em;
  padding: 1em;
}

li {
  float: right;
}

li a {
  color: #ddf796;
  padding: 0.7em;
  margin: 1em;
  text-decoration: none;
  border-radius: 5px;
}

a.active {
  background-color: #616161;
}

li a:hover {
  background-color: #979797;
  color: #f3fe7e;
  border-radius: 5px;
}

.box {
  background-color: #bdbdbd;
  width: auto;
  height: auto;
  max-width: 70%;
  max-height: 80%;
  padding: 1em;
  align-content: center;
  margin: 15em auto;
  overflow: auto;
}
